.itemList {
    width: 100%;
    max-width: 40rem;
    list-style: none;
    padding: 1rem 2rem;
    
  }
  
  .itemList ul {
    padding: 1rem;
  }
  
  .itemList li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }