.inputForm {
    margin: 1rem;
    border-radius: 5px;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 2rem;
}

.inputForm label {
    display: block;
    padding: 0.5rem;
}

.inputForm button {
    display: block;
    margin: 1rem 0;
    background: #630747;
    color: white;
    border-width: 0;
    padding: 0.2rem;
}

.inputForm button:hover {
    background: #7d0a5b;
    cursor: pointer;
}